.profile{
    display: flex;
    justify-content: center;
    padding: 9em 0 2em 0;

}
.profile-details{
    text-align: left;
}
.profile-details p{
    max-width: 27ch;
}
.about{
    width: 400px;
}

.me {
    width: 100px;
    border-radius: 100px;
}

.skill-section {
    text-align: center;
    margin-top: 4em;
}

.tech {
    display: flex;
    justify-content: center;
    padding: 5px;
    flex-wrap: wrap;
}
.icons {
    display: block;
    height: 100px;
    
    padding: 20px;
}
.highlight{
    color: aqua;
}
