form{
    display: flex;
    flex-direction: column;
}
label{
    display: flex;
    flex-direction: column;
    margin: 0.5em;
}
span{
    color: white;
    margin-bottom: 5px;
}

input{
    border-radius: 5px;
    padding: 7px;
}
textarea{
    
    border-radius: 5px;
    padding: 7px;
  
    
}
.contact-page {
    margin-top: 12em;
    display: flex;
    justify-content: center;
}
.icon-svg{
    margin: 4em;
}

img{
    width: 400px; 
}

button {
   margin-top: 0.5em;
   background-color: aqua !important;
   color: aliceblue;
   display: inline-block;
   padding: 0.4em  3em;
   border-radius: 12px;
    font-weight: 700;
}