body,html {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1104%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(47%2c 8%2c 93%2c 1)'%3e%3c/rect%3e%3cpath d='M-42.34 -32.32 a10.02 10.02 0 1 0 20.04 0 a10.02 10.02 0 1 0 -20.04 0z' fill='rgba(81%2c 21%2c 151%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-86.44 11.78 a98.22 98.22 0 1 0 196.44 0 a98.22 98.22 0 1 0 -196.44 0z' fill='rgba(81%2c 21%2c 151%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-100.82 26.15 a126.97 126.97 0 1 0 253.94 0 a126.97 126.97 0 1 0 -253.94 0z' fill='rgba(81%2c 21%2c 151%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1264.65 -11.32 a52.03 52.03 0 1 0 104.06 0 a52.03 52.03 0 1 0 -104.06 0z' fill='rgba(81%2c 21%2c 151%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1207.73 45.6 a165.87 165.87 0 1 0 331.74 0 a165.87 165.87 0 1 0 -331.74 0z' fill='rgba(81%2c 21%2c 151%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1229.81 23.52 a121.71 121.71 0 1 0 243.42 0 a121.71 121.71 0 1 0 -243.42 0z' fill='rgba(81%2c 21%2c 151%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-106.33 479.66 a137.99 137.99 0 1 0 275.98 0 a137.99 137.99 0 1 0 -275.98 0z' fill='rgba(81%2c 21%2c 151%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-98.43 471.76 a122.19 122.19 0 1 0 244.38 0 a122.19 122.19 0 1 0 -244.38 0z' fill='rgba(81%2c 21%2c 151%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-55.07 428.41 a35.48 35.48 0 1 0 70.96 0 a35.48 35.48 0 1 0 -70.96 0z' fill='rgba(81%2c 21%2c 151%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1254.26 447.06 a72.8 72.8 0 1 0 145.6 0 a72.8 72.8 0 1 0 -145.6 0z' fill='rgba(81%2c 21%2c 151%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1214.5 486.83 a152.33 152.33 0 1 0 304.66 0 a152.33 152.33 0 1 0 -304.66 0z' fill='rgba(81%2c 21%2c 151%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1268.25 433.09 a44.84 44.84 0 1 0 89.68 0 a44.84 44.84 0 1 0 -89.68 0z' fill='rgba(81%2c 21%2c 151%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1104'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
   height: auto;
}
.hero {
    display: flex;
    flex-direction: row;
    justify-items: center;
    flex-wrap: wrap;
}


/* about start */

.profile{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 12rem;
 

}
.profile-details{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.profile-details p{
    max-width: 27ch;
}

.tech {
    display: flex;
    justify-content: center;
    padding: 5px;
    flex-wrap: wrap;
}
.icons {
    width: 120px;
    
    padding: 30px;
}
.highlight{
    color: aqua;
}

.section-profile {
    margin-top: 10rem;
   text-align: center;
    

}
.svg-img2{
    width: 500px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;

}

/* about end */

/*hobbies start*/
.gallery{
    display: flex;
    justify-content: center;
   
    flex-wrap: wrap;}

    
.svg-icon{
    width: 400px;
        }
img {
        width: 250px;
        object-fit: contain;
        margin: 10px;
    }


/* hobbies end */

/* contact start */
form{
    display: flex;
    flex-direction: column;
}
label{
    display: flex;
    flex-direction: column;
    margin: 0.5em;
   
}
.label-text{
    font-size: 1.2em;
    font-weight: 500;
    color: white;
    margin-bottom: 5px;
}

input{
    outline: none;
    border-radius: 10px;
    padding: 12px;
}
textarea{
    outline: none;
    border-radius: 5px;
    padding: 7px;
  
    
}
.svg-img3{
width: 600px;
margin-left: auto;
margin-right: auto;
}

button {
    margin-top: 0.5em;
    background-color: rgb(19, 207, 207) !important;
    color: aliceblue;
    display: inline-block;
    padding: 0.4em  3em;
    border-radius: 12px;
     font-weight: 700;
 }

 /* contact end */

p{
    color: aliceblue;
}

.headtext {
    color: aqua;
}
.section {
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    

}

.svg-img{
    margin-top: 8rem;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;

}

@media (max-width:640px) {
    .profile{
        margin-top: 8rem;
    }
    .profile-details{
        margin-top: 4rem;
    }
    .tech {
        display: flex;
       
        flex-wrap: wrap;
      
       
    }
    .icons {
       height: 100px;
       padding: 20px;
    }
}

@media (min-width: 640px) {
    .section{
        margin-top: 8rem;
    }
   
    
}

@media (min-width: 768px) {
    .section {
        margin-top: 9rem/* 144px */;
    }
  
}

@media (min-width: 1024px) {
    .section{
        margin-top: 9rem/* 144px */;
    }
  
    .svg-img{
        width: 500px;
    }
}


@media (min-width: 1536px) {
    .section{
        margin-top: 12rem/* 192px */;
    }
   
}